@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
html ,body{
    margin: 0;
    padding: 0;
    font-family: 'Black Ops One', cursive;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.center-child {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#sketchdiv {
    box-shadow: 4px 4px 20px 3px #d0d0d0;
}
.center-child h1 {
    font-size: 4rem;
    color: #ff0095;
    background: white;
    padding: 1rem;
    box-shadow: 3px 4px 20px 0px #d6d6d6;
    border-radius: 5px;
    -webkit-animation: floating-text 2s ease alternate infinite;
    -moz-animation: floating-text 2s ease alternate infinite;
     -ms-animation: floating-text 2s ease alternate infinite;
      -o-animation: floating-text 2s ease alternate infinite;
         animation: floating-text 2s ease alternate infinite;
}
.center-child button {
    margin-top: 2rem;
    font-size: 2rem;
    font-family: 'Black Ops One', cursive;
    background: #ff0095;
    color:black;
    padding: 1rem;
    box-shadow: 3px 4px 20px 0px #d6d6d6;
    border-radius: 5px;
      
 
}
@media (max-width:500px) {
    .center-child h1 {
        font-size: 2.2rem;
    }
}

@-webkit-keyframes floating-text {
    0% {  
      /* -webkit-transform: translateY(.1em); */
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .1em .2em rgba(0,0,0,.3);
  
    }
    100% {
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
  }
  @-moz-keyframes floating-text {
    0% {  
      /* -moz-transform: translateY(.1em); */
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .1em .2em rgba(0,0,0,.3);
  
    }
    100% {
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
  }
  @-ms-keyframes floating-text {
    0% {  
      /* -ms-transform: translateY(.1em); */
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .1em .2em rgba(0,0,0,.3);
  
    }
    100% {
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
  }
  @-o-keyframes floating-text {
    0% {  
      /* -o-transform: translateY(.1em); */
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .1em .2em rgba(0,0,0,.3);
  
    }
    100% {
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
  }
  @keyframes floating-text {
    0% {  
      /* transform: translateY(.1em); */
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .1em .2em rgba(0,0,0,.3);
  
    }
    100% {
      text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
  }